body .grid {
  display: grid;
  grid-template-rows: [top] 100px [bottom] auto;
  grid-template-columns: [left] 1fr [middle-left] 4fr [middle-right] 8fr [right] 1fr;
  grid-gap: 15px;
  margin: 15px;
  height: 100vh;
}
.grid-item {
    background: #88d994;
}
body .grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .grid .item-1 {
    grid-row: top;
    grid-column : left / spanright;
}
body .grid .item-2 {
    grid-row: bottom;
    grid-column : left / middle-left;
}
body .grid .item-3 {
    grid-row: bottom;
    grid-column : middle-left / middle-right;
}
body .grid .item-4 {
    grid-row: bottom;
    grid-column : middle-right / spanright;
}
.sub-grid {
  display: grid;
  height: 100%;
  grid-template-rows: [top] 40px [bottom] auto;
  grid-template-columns: [left] 4fr [middle-left] 1fr [middle-right] 1fr [right] 4fr;
  grid-gap: 15px;
  margin: 15px;
}
.sub-grid .grid-item {
    background: #fff;
}
